*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
   
}
body{
    background-color:brown;
}

h1{
    margin:30px;
    text-shadow: 5px 5px white;
    font-size: 6rem;
    color:#f6b93b;
}
p{
    font-size:2rem;
    color:#00b894;
    text-shadow: 1px 1px white;
}
button{
    padding:10px;
    background-color:#00b894;
    color:white;
    border-radius: 10px;
    border:none;
}
img{
    width: 70%;  
    border:none;

}

.dice{
    float:left;
    margin:80px;
}
.btn{
    float:right;
    justify-content: center;
    margin-right: 450px;
    width:600px;
    margin-top: 20px;
}

small{
    margin:30px;
    text-shadow: 3px 3px white;
    font-size: 2rem;
    color:#00b894;
   
}